.container {
  display: relative;
  min-width: 320px;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 50px 29px 87px 29px;
}

.title {
  margin-bottom: 34px;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 450px);
}

@media screen and (max-width: 370px) {
  .title {
    text-align: center;
  }
}
